# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
*.old

# eclipse conf file
.manager
.scala_dependencies
.cache

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*
